body{
    background-color: rgb(255, 255, 255);
    
   scroll-behavior: smooth;
    
}

.reply {
    padding: 1px 5px;
    
    margin: 5px 5px;
    overflow-wrap: break-word;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(246, 246, 253);
    display: block;
    
    height: fit-content;

}
.querry {
    padding: 1px 5px;
    display: flexbox;
    margin: 10px 10px;
    overflow-wrap: break-word;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(17, 124, 247);
    display: block;
    border-radius: 10px;
    height: fit-content;

}
