
    body{
        height: fit-content;
    }
    h2 {
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        margin-top: 40px;
        color: rgb(78, 48, 247);
        border: black 4px solid;
        background: whitesmoke;
        padding: 1%;

    }

    .box {
        border-radius: 10px;
        background: white;
        text-align: center;
        font-size: 20px;
        border: black solid 3px;
        margin: 20px 500px;
    }
    .box2{
        padding: 5%;
        

    }

    .img {
       

        margin-left: 320px;
        align-items: center;
        margin-top: 0px;
        text-align: center;
        height: 200px;
        width: 200px;
       
    }
    .box2 button:hover{
        cursor: pointer;
       background: lightyellow;
       

    }
